# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android / Gradle locks
.gradle/
**/android/app/debug
**/android/app/profile
**/android/app/release
android/local.properties
